{% extends 'base.html' %}

{% block content %}

    <div class="container mt-xl-5">
        <div class="d-flex justify-content-center">
            <div class="col-sm-auto border border-primary m-1">
                <h3 class="title text-center">Login form</h3>
                <form class="d-flex justify-content-center" method="post" align="center">
                    {% csrf_token %}
                    <div class="form-group m-2" align="center">
                        {{ form.as_p }}
                        <button class="btn btn-success" type="submit">Login</button>
                    </div>
                    {#                    <div class="form-group m-2">#}
                    {#                        <label for="{{ form.username.id_for_label }}">Username</label>{{ form.username }}#}
                    {##}
                    {##}
                    {#                        <label for="{{ form.password.id_for_label }}">Password</label>#}
                    {#                        {{ form.password }}#}
                    {#                        <button class="btn btn-success" type="submit">Login</button>#}
                    {#                    </div>#}


                </form>
            </div>
        </div>
    </div>


    </div>

{% endblock %}