{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col order-start">
            </div>
            <div class="col">
                <h3 class="">Data schemas</h3>
            </div>
            <div class="col order-last">
                <a class="" href="{% url 'create_schema' %}">New schema</a>
            </div>
        </div>
        <div class="table-responsive d-flex justify-content-center">


            <table class="table table-bordered border-primary table-sm mt-2" style="width: 650px; height: 50px;">
                <thead class="table-primary">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Title</th>
                    <th scope="col" class="text-center">Modified</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for schema in data_schemas %}
                    <tr class="table-light">
                        <td class="counterCell text-center"></td>
                        <td class="text-center">{{ schema.name }}</td>
                        <td class="text-center">{{ schema.modified }}</td>
                        <td class="text-center">
                            <a href="{% url 'update_schema' schema.id %}">Edit</a>
                            <a class="text-center" href="{% url 'delete_schema' schema.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}